.btn-primary{
    width: 100%;
}

.container{
    padding-top: 2rem;
}
.btn{
    border-radius: 2rem;
}

.infotab{
    padding: 4rem;
}
tbody{
    cursor: pointer;
}
.table{
    border: 3px solid black;

}
.cartas{
    justify-content: space-evenly;
}
.tituloTrabajos{
    text-align: center;
    margin-top: 2rem;
    font-family: 'Anton', sans-serif;
    font-size: 64px;
    font-weight: bold;
}

.fotos{
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.col{
  border-radius: 2rem;
  padding: 1rem;
  margin-bottom: 2rem;
}


/*mision*/
.hero{
    background-color: #f8f8f8df;
    padding-bottom: 3rem;
}
.vision{
    background-color: #f8f8f82a;
    padding-bottom: 3rem;
}

.heading h1{
    color: #ff6347; 
    font-size: 55px;
    text-align: center;
    margin-top: 35px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.hero-content{
    flex: 1;
    width: 600px;
    margin: 0px 25px;
    /* animation: fadeInUp 2s ease; */
}
.hero-content h2{
    font-size: 38px;
    color: #333;
    margin-bottom: 20px;
}
.hero-content p{
    font-size: 24px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 40px;
}
.hero-content button{
    display: inline-block;
    background-color: #ff4500;
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}
.hero-content button:hover{
    background-color: #ff6347;
    transform: scale(1.1);
}

.hero-image{
    flex:1;
    width:600px;
    margin:auto;
    /* animation: fadeInRight 2s ease; */
}
.orden{
    order: 1;
}


img{
    width:100%;
    height: auto;
    border-radius: 10px;
}
.tituloMision{
    padding-top : 2rem;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #ff6347;
}


@media screen and (max-width: 768px){
    .heading h1{
        font-size: 45px;
        margin-top: 30px;
    }
    .hero{
        margin:0px;
    }
    .container{
        width: 100%;
        flex-direction:column;
        margin:0px;
        padding: 0px 40px;
        padding-bottom: 2rem;
    }
    .hero-content{
        width:100%;
        margin:35px 0px;
    }
    .hero-content h2{
        font-size: 30px;
    }
    .hero-content p{
        font-size: 18px;
        margin-bottom: 20px;
    }
    .hero-content button{
        font-size: 16px;
        padding: 8px 16px;
    }
    .hero-image{
        width:100%;
    } 
}
/*Texto Type css*/
.typeLetras{
    text-align: center;
}
@media screen and (max-width: 1185px){
    .text{
        display: none;
    }
    
}

.contenedorType{
    display: inline-block;
}

.text{
    font-size: 5em;
    letter-spacing: 10px;
    font-family: monospace;
    padding: 3rem;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:alternate
        typing 2s steps(18),
        cursor .4s step-end infinite alternate;
}

/*cursor blinking*/
@keyframes cursor{
    50% {border-color: transparent;}
}

/*typing animation*/
@keyframes typing{
    from {width: 0;}
}

