.formulario{
    padding: 3rem;
}


@media (min-width:765px){
    .mb-3{
        width: 100%;
    }
    .datos{
        display: flex;
        justify-content: space-evenly;
    }
    /* 
    .form-group{
        text-align: center;
    } 
    */
}

.mensaje{
    display: flex;
    flex-direction: column;
}

.botonCorreo{
    text-align: center;
}
.titulo{
    margin-top: 7rem;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}
.formulario{
    border: 3px solid #2d2d2d;
    margin: 3rem;
    border-radius: 1rem;
}
