<app-cabecero></app-cabecero>

<h2 data-aos-duration="1000" data-aos="fade-down" id="contactanos" class="titulo">Contactanos</h2>
<form [formGroup]= "myForm"  class = "formulario">
    <div class="datos">
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationDefault01">Nombre</label>
                <input type="text" class="form-control" id="validationDefault01" placeholder="Nombre" formControlName="nombre" required >
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationDefault02">Apellido</label>
                <input type="text" class="form-control" id="validationDefault02" placeholder="Apellidos" formControlName="apellidos" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationDefault02">Asunto</label>
                <input type="text" class="form-control" id="validationDefault02" placeholder="Asunto" formControlName="asunto" required>
            </div>
            <!-- <div class="col-md-4 mb-3">
            <label for="validationDefaultUsername">Username</label>
            <div class="input-group">
                <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend2">@</span>
                </div>
                <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Correo" formControlName="correo" aria-describedby="inputGroupPrepend2" required>
            </div>
            </div> -->

            <div class="col-md-4 mb-3 mensaje">
                <label for="validationDefault02">Mensaje</label>
                <textarea id="mensaje" name="mensaje" rows="4" cols="50" formControlName="mensaje" required></textarea>
            </div>
        </div>
    </div>

    <div class="form-group botonCorreo">
        <button (click)=enviarCoreo() class=" btn btn-primary" type="submit">Enviar Correo</button>
    </div>
    
</form>


<app-pie-pagina></app-pie-pagina>