
.logo{
    font-size: 24px;
    color: #15A4F9;
    font-weight: 800;
    text-transform: uppercase;
}

.lateral{
    width: 43%;
}


a.navbar-brand{
    margin: 0;
    padding:0.3em;
    font-weight: 538;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
}

a.navbar-brand:hover{
    background-color: #1e2321;
    box-shadow: 0px 0px 4px #898282;/*inset se refiere que dentro de la caja */
    color: white;
    transition: all 200ms;
}


@media (max-width: 765px){
    .navbar-brand{
        display: none;
    }
    
}

