.contenedor{
    display: flex;
    min-width: fit-content;
}
.card{
    margin:1rem;
    width: auto;
}

@media screen and (max-width: 768px) {
    .contenedor{
        display: block;
    }
}

.container{
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-family: poppins;
    
}
.tituloServicios{
    margin-top: 7rem;
    margin-bottom: 0;
    text-align: center;
    font-family: "Century Gothic", sans-serif;
    font-size: 64px;
    font-weight: bold;
   
    
}
