<app-cabecero></app-cabecero>
<!-- Timeline -->

<div class="container">
    <h2 data-aos="fade-down" class="tituloLinea">Linea Del Tiempo</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline">
                <div data-aos="fade-right" class="timeline">
                    <a href="#" class="timeline-content">
                        <div class="timeline-icon"><i class="fa fa-globe"></i></div>
                        <div class="timeline-year">2021</div>
                        <h3 class="title">Web Designing</h3>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer males uada tellus lorem, et condimentum neque commodo Integer males uada tellus lorem, et condimentum neque commodo
                        </p>
                    </a>
                </div>
                <div data-aos="fade-left" class="timeline">
                    <a href="#" class="timeline-content">
                        <div class="timeline-icon"><i class="fa fa-rocket"></i></div>    
                        <div class="timeline-year">2020</div>
                        <h3 class="title">Web Development</h3>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer males uada tellus lorem, et condimentum neque commodo Integer males uada tellus lorem, et condimentum neque commodo
                        </p>
                    </a>
                </div>
                <div data-aos="fade-right" class="timeline">
                    <a href="#" class="timeline-content">
                        <div class="timeline-icon"><i class="fa fa-user"></i></div>    
                        <div class="timeline-year">2020</div>
                        <h3 class="title">Web Development</h3>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer males uada tellus lorem, et condimentum neque commodo Integer males uada tellus lorem, et condimentum neque commodo
                        </p>
                    </a>
                </div>
                <div data-aos="fade-left" class="timeline">
                    <a href="#" class="timeline-content">
                        <div class="timeline-icon"><i class="fa fa-briefcase"></i></div>    
                        <div class="timeline-year">2020</div>
                        <h3 class="title">Web Development</h3>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer males uada tellus lorem, et condimentum neque commodo Integer males uada tellus lorem, et condimentum neque commodo
                        </p>
                    </a>
                </div>
                
            </div>
        </div>
    </div>
</div>