<app-cabecero></app-cabecero>
<h2 data-aos-duration="1000" data-aos="fade-right" class=" tituloProductos" >Productos</h2>
    <div class="container text-center contenedor">
        <div data-aos="fade-up" data-aos-duration="1000" class="card col">
            <img src="../../../assets/img/s3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div data-aos="fade-down" data-aos-duration="1000" class="card col">
            <img src="../../../assets/img/s3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div data-aos="fade-up" data-aos-duration="1000" class="card col">
            <img src="../../../assets/img/s3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    
<app-pie-pagina></app-pie-pagina>