.container{
    padding: 4rem;
}

.col{
    margin-bottom: 2rem;
}

.btn{
    width: 100%;
}

.contenedor{
    display: flex;
}
.card{
    margin:1rem;
    width: auto;
}

@media screen and (max-width: 768px) {
    .contenedor{
        display: block;
    }
}

.tituloProductos{
    margin-top: 7rem;
    margin-bottom: 0;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 64px;
    font-weight: bold;
}