<app-cabecero></app-cabecero>

<section class = "hero">
    <div>
        <h1>Acerca de Nosotros</h1>
    </div>
    <div class="container">
      <div class="hero-content">
        <h2>Quienes somos</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae nisl ut odio  
            vel aliquam dolor interdum. Ut sit amet sagittis augue, id efficitur leo. Vivamus id tincidunt ligula. 
            Nulla nec sapien ut dui cursus ullamcorper nec aliquam dui. Vestibulum tincidunt, quam sit amet elementum pulvinar, 
            ante purus tempor libero, et condimentum massa leo eu nibh. Nulla sed augue libero. Vestibulum varius nisi dolor,
            at iaculis velit convallis eu. Sed sagittis, nibh in molestie ultrices, orci velit rhoncus nibh, et pellentesque enim neque ac justo. 
        </p>
        <button class="cta-button btn btn-primary">Read More</button>
      </div>
        <div class = "hero-image" >
            <img src = "../../../assets/img/s1.jpg" alt = "imagen">
        </div>
    </div>
</section>

<app-pie-pagina></app-pie-pagina>