<app-cabecero></app-cabecero>


<section class = "hero">
    <div>
        <h1 data-aos="fade-up" class = "tituloNosotros">Acerca de Nosotros</h1>
    </div>
    <div class="container">
      <div data-aos="fade-up" class="hero-content">
        <h2>Quienes somos</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae nisl ut odio  
            vel aliquam dolor interdum. Ut sit amet sagittis augue, id efficitur leo. Vivamus id tincidunt ligula. 
            Nulla nec sapien ut dui cursus ullamcorper nec aliquam dui. Vestibulum tincidunt, quam sit amet elementum pulvinar, 
        </p>
        <button class="cta-button btn btn-primary">Read More</button>
      </div>
        <div data-aos="fade-down" class = "hero-image" >
            <img src = "../../../assets/img/fotoLilirec.jpeg" alt = "imagen">
        </div>
    </div>
</section>  

<app-pie-pagina></app-pie-pagina>