/* You can add global styles to this file, and also import other style files */

.dark-theme{
    --background-color: #000;
    --text-color: #999;
    --title-color: #999;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
